<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="/styles.css">
</head>


<div>
    <header>
        
        
        <h1>
        <a href="/">WELCOME TO CYBER NINJAS</a> 
        </h1>


    </header>
</div>
</html>