<!DOCTYPE html>
<html lang="en">
    
    <div>

        <ul> 
        
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">see our blogs here</a></li>


        </ul>

    </div>

</html>