<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %> </title>
</head>
<body>



    <h1>Home</h1>
    <h2>Your path to becoming a Node.js ninja!</h2>
  
    <nav>

       <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li> 
            <li><a href="./create">new blogs</a></li> 
        </ul>
    
    </nav>

    <div class="blogs content">

        <h2>All blogs</h2>

        <%if (blogs.length>0){ %>
              
           <%  blogs.map(blog=>{ %>
                <div>

                    <h3><%=blog.title%></h3>
                    <p><%=blog.snippet%></p>
                </div>
            <%})%>
            
        <%}else{ %>
            <p>No blogs found</p>



        <%} %>
            
            %>

    </div>

</body>
</html> 