.blog-form{
    display: flex;
    flex-direction: column;
   justify-content: center;
   padding: 10px;

}

 .single-blog a{
 text-decoration: none;
 cursor: pointer;
 color: black;
}



.single-blog a:hover{
    color:rgb(10, 30, 122);
    }


.details{
    margin: 5px;
}

.delete{
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    color: #eb1313;
}


.form-group{
    margin: 10px;
}

.form-button{
    color: white;
    background-color: rgb(43, 170, 43);
}