<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/header.ejs') %> 

<h1>Create a new blog here!</h1>


<script>

    function formsubmit(event){
            event.preventDefault();
    }


</script>

<form class="blog-form" action="/blogs" method="POST">
   
   
    <label for="title">Title:
    <input type="text"  id="title" class="form-group" name="title" required/>
    </label>


    <label for="snippet">snippet:
        <input type="text"  id="snippet" class="form-group" name="snippet" required/>
        </label>

    <label>Body:
    <textarea type="text" class="form-group"  id="body" name="body" required> </textarea>
    </label>

    
    <button class="form-button form-group" type="submit" onclick="formsubmit()">submit</button>


</form>

<%- include ('../partials/nav.ejs') %> 
<%- include ('../partials/footer.ejs') %> 
</html>
