<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/header.ejs') %> 
<body>
    you are home
</body>

<%- include ('../partials/nav.ejs') %> 
<%-include ('../partials/blognav.ejs') %> 
<%- include ('../partials/footer.ejs') %> 
</html>
